modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SECURITY_Q1 = "ما هو اسم حبيتك الأولى"
SECURITY_A1 = "سعاد"
SECURITY_Q2 = "ما هي سنة ميلادها"
SECURITY_A2 = "1984"
ENCRYPTION_KEY = "4af11072a2a00bfb2d2bb2b9a1c42ca257c8349bb165f13e83d188547a3863e0"
ADMIN_PASSWORD_HASH = "$2b$12$hCtGq44wKxiNMhLHN6nBz.viwn/.japQSBOVXLsUaWA.HbqblgNfu"

[nix]
channel = "stable-25_05"
