modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "zip"

[[workflows.workflow]]
name = "zip"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "zip -r project.zip ."

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SECURITY_Q1 = "ما هو اسم حبيتك الأولى"
SECURITY_A1 = "سعاد"
SECURITY_Q2 = "ما هي سنة ميلادها"
SECURITY_A2 = "1984"
ENCRYPTION_KEY = "4af11072a2a00bfb2d2bb2b9a1c42ca257c8349bb165f13e83d188547a3863e0"
ADMIN_PASSWORD_HASH = "$2b$12$q67RNG41vgoXL7fxIdRsLOmy4pxP8Uxl3HHq9wx.HLw5fXi3VkGgS"
VAPID_PUBLIC_KEY = "BN6CsK24HySsa4jH-YPFkyqh1BM8wtez58TWJD0DY3iaeJi6C7TWUuFnJwlXC5NEMaMQV5cpAaNbSm2TvZYvpWQ"
VAPID_PRIVATE_KEY = "uOShFf2_POJsVWWOLBUjOXHSmUv9H4nNy5A-pGHM5qw"
VAPID_EMAIL = "mailto:admin@royalletters.app"
ADMIN_USERNAME = "ahmed"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 21891
externalPort = 80
